.root {
    -fx-background-color: #2c3e50;
}

/* LOGIN TITLE */
.title-label {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sub-label {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 12px;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

/* TEXT FIELDS */
.text-field, .password-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #4285F4;
    -fx-padding: 8;
}

/* BUTTONS */
.button {
    -fx-background-color: #4285F4;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2b6fd1;
}

/* LEFT SIDEBAR */
.sidebar {
    -fx-background-color: #1f2d3a;
}

/* TABLE */
.table-view {
    -fx-background-color: #34495e;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1f2d3a;
}

.table-view .column-header {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: #4285F4;
}

/* INPUT PANEL */
.form-panel {
    -fx-background-color: #2c3e50;
}

/* IMAGE BORDER */
.image-view {
    -fx-border-color: #4285F4;
    -fx-border-radius: 100;
}
.table-view .cell {
    -fx-text-fill: white;
}